#don't check in dependencies
node_modules
#don't check in npm publishing config
.npmrc
#don't check in devRequireConfig because only want devRequire to be used locally
devRequireConfig.js
#don't check in .dev-link config file because only want to use them to link locally
.dev-link